<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>

<main class="container">
    <div class="mx-auto">
        <h1 class="mx-auto"><%= perros[0].nombre %></h1>
    </div>
    <div class="row d-flex justify-content-center">
        <% perros.forEach(perro => { %>
            <div class="column col-lg-8">
                <div class="card mb-4">
                    <img class="card-img-top" src="<%= perro.imagen %>" alt="Perrito">
                </div>
            </div>
            <% if (isLoggedIn) { %> 
                <div class="column col-lg-4 align-self-center justify-content-center">
                    <h2 class="mb-4">Editar nombre</h2>
                    <form class="d-inline" action="/perros/<%=perro.id%>" method="POST">
                        <div class="form-row align-self-center ">
                            <input class="form-control-lg mb-3 d-inline" type="text" name="nuevoNombre" placeholder="Nuevo nombre">
                        </div>
                        <div class="form-row align-self-center ">
                            <button class="btn btn-primary d-inline" type="submit" value="Guardar">Guardar</button>
                        </div>
                    </form>
                </div>
            <% } %> 
        <% }) %> 
    </div>
</main>

<%- include('includes/footer.ejs') %>