<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>

<main class="container">
    <h1><%= titulo %></h1>
    <div class="row">
        <% perros.forEach(perro => { %>
            <div class="column">
                <div class="card mb-4">
                    <img class="card-img-top" src="<%= perro.imagen %>" alt="Perrito">
                    <div class="card-body d-flex justify-content-between">
                        <h4 class="card-title"><%= perro.nombre %></h4>
                    </div>
                </div>
            </div>
            <% if (isLoggedIn) { %> 
                <div class="column">
                    <form action="/perros/<%=perro.id%>" method="POST">
                        <input type="text" name="nuevoNombre">
                        <input type="submit" value="Guardar">
                    </form>
                </div>
            <% } %> 
        <% }) %> 
    </div>
</main>

<%- include('includes/footer.ejs') %>