<%- include('includes/navbar.ejs') %>
<%- include('includes/head.ejs') %>

<h1>Añadir perro</h1>
<form action="nuevo-perro?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <label for="nombre_perro">Nombre</label>
    <input type="text" name="nombre_perro">
    <label for="imagen_perro">Imagen</label>
    <input type="file" name="imagen_perro">
    <br>
    <input type="submit" value="Registrar perro en guarderia">
</form>

<%- include('includes/footer.ejs') %>