<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>

<div class="container-fluid p-4">
	<h1 class="mb-4">Perros en guarderia</h1>
	<label for="buscar">Buscar</label>
	<input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">
	<input type="text" name="buscar" id="buscar" onkeyup="buscar()">
	<div class="row">
		<% perros.forEach(perro => { %>
			<div class="view col-12 col-sm-6 col-md-4 col-lg-4">
				<div class="card hoverable mb-4 hover-shadow">
					<img class="card-img-top" src="<%= perro.imagen %>" alt="Perrito">
					<div class="card-body d-flex justify-content-between">
						<h4 class="card-title"><%= perro.nombre %></h4>
						<% if (isLoggedIn) { %>
							<form action="/perros/<%= perro.id %>" method="GET">
								<button class="btn btn-outline-secondary">Editar</button>
							</form>
						<% } %> 
					</div>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<%- include('includes/footer.ejs') %>
<script>
	function buscar() {
		const valor_busqueda = document.getElementById('buscar').value;
		//El token de protección CSRF
		const csrf = document.getElementById('_csrf').value;

		//función que manda la petición asíncrona
		fetch('/personajes/buscar', {
			method: 'POST',
			headers: {
				'csrf-token': csrf
			},
			body: JSON.stringify(valor_busqueda)
		}).then(result => {
			return result.json(); //Regresa otra promesa
		}).then(data => {
			//Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
			console.log(data);
		}).catch(err => {
			console.error(err);
		});
	}
	</script>